.main-div {
    padding:0px;
}
.header-row {
    background-color: #ff6600;
}

.header-img {
    border:1px solid white;
}
.heading-txt {
    padding-left:10px;
}

.middle-links button{
    text-decoration: none;
    padding:0;
    color:black;
}
.middle-links{
    text-align:left;
}
.login-link{
    text-align:right;
    padding:0;
    
}
.login-link button{
    color:black;
    text-decoration:none;
}
.content-row{
    background-color:rgb(246, 246, 239);
}
.fas{
    color:#828282
}
.news-icon{
    padding-right:10px;
    padding-left:10px;
}
.information{
    margin-left:30px;
    font-size:10px;
    color:#828282;
    
}
.information span{
    padding-left:5px;
}